@charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image: linear-gradient(to left,#6A98C3,#A8CCED  );
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #192F43;
}

h1{
    color: #087bee;
    text-align: center;
    text-shadow: 1px 1px 2px #074c92b6;
}

h2{
    color: #17446E;
}
p{
    text-align: justify;
}